
@font-face {
  src: url("../fonts/BanderaProLight.ttf") format("truetype"); 
  font-family: "Bandera Pro Light 300";  
  font-style: normal; 
  font-weight: normal;
}

.sidebar {
  font-family: "Bandera Pro Light 300";  
  font-size: 16px;
  height: 100rem;
  border-right: 1px solid #ddd;
  box-shadow:
            inset 0 1em 3em rgba(0,0,0,0.1),
            0.3em 0 1em rgba(0,0,0,0.3);
}

.sidebar .nav-link {
  color: #333;
}

.nav-link{
  padding: 10px 0px !important;
}

.nav-link:hover{
  background-color: transparent !important;
  color:blue;
}

.nav-item
{
  list-style-type: none;
}
.nav-item span{
  vertical-align: middle;
}

.nav-link img
{
    height: 30px;
}
