html,
body {
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Ermilov";  
    font-size: 40px;
    border-bottom: 1px solid #000;
    background-color: #343a40;
    height: 100px;
}

a{
    text-decoration: none !important;
}


header a{
    color:grey;
}

header a:hover{
    color:white;
}

nav{
    padding: 0 !important;
}

.header__logo img {
    height: 50px;
}

.header__login :first-child {
    font-size: 30px;
}

.header__login :last-child {
    font-size: 20px;
    text-align: end;
    color:#ecc6c6;
}

.header__login{
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Ermilov";  
    src: url("../fonts/Ermilov-bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

.p-20{
    padding: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}

.header__logo a{
    text-decoration: none;
}

.header__auth{
    font-size: 20px;
}

.sidebar li span{
    padding-left: 10px;
}

.sidebar li{
    padding: 0 15px;
}

.sidebar li:hover{
    background-color: #2196F3;
    color:white;
    transition: background-color 0.5s ;
}

.info_box
{
    display: flex;
    justify-content: space-evenly;
}

.current_document{
  
    background:radial-gradient(50% 50%, rgb(187, 224, 255),white);
}

.spended_time{
  
    background:radial-gradient(50% 50%, rgb(255, 187, 187),white);
}

.start_document{
    background:radial-gradient(50% 50%, rgb(195, 228, 200),white);
}

.info_box p,.info_box a{
    font-weight: bold;
    font-size: 30px !important;
}

.container{
    font-family: "Bandera Pro Light 300";  
    font-weight: 700;
}

.container-fluid{
    padding: 0 !important;
}

.breadcrumb{
    padding: 20px !important;
    box-shadow: 0px 0px 11px 1px rgba(194, 195, 206, 0.918);
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.site-index table{
    margin-top  : 10px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.password-control{
    margin-right: 20px;
}

.password-control:hover{
    cursor: pointer;
}

.modal-body{
    font-size: 14px !important;
}

form .dropdown-menu{
    background-color: antiquewhite;
}

.modal_user_documents form{
    display: flex;
    justify-content: space-between;
}

.modal_user_documents form>.dropdown{
    display: flex;
}



.modal-body .dropdown-menu>li{
    display: flex;
}

.modal-body .dropdown-menu>li>input{
    margin-left: 10px;
}

.modal-body .dropdown-menu>li>a{
    text-decoration:underline;
}

.modal-body .dropdown-menu>li>a:hover{
    background-color: transparent;
}

.form-group button{
    font-size: 14px !important;
}

#w1{
    font-size: 14px !important;
}

.container{
    font-size: 14px !important;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.documents_list li:hover{
    cursor: pointer;
    background-color: #2196F3;
    color:white;
    transition: background-color 0.5s ;
}

.documents_list li{
    padding: 5px;
    font-size: 15px !important;
}

.btn_test__wrong{
    background-color: red !important;
    height: 50px;
    width: 300px;
    margin-top: 20px;
}

.btn_test__true{
    margin-top: 20px;
    background-color: green !important;
    height: 50px;
    width: 300px;

}

.btn_test__wrong a{
    color:white;
    font-size: 20px;
    vertical-align: center;
}

.btn_test__true a{
    color:white;
    font-size: 20px;
    vertical-align: center;
}

@media(min-width:480px) and (max-width:767px) {

    .header__logo a{
        font-size: 20px;
        vertical-align: middle;
    }
}

@media (max-width:479px) {
    header{
        height: 50px;
    }

    .header__logo a{
        vertical-align: middle;
    }
    header a{
        font-size: 12px;
    }
}